{% extends "layout.html" %}
 {% block title %} 
 chai aur tweet 
 {% endblock %} 
 {%block content %}
<h1 class="text-center mt-4">Welcome to tweet form Project</h1>
<h2>
  {%if form.instance.pk %} 
  Edit Tweet 
  {% else %} 
  Create Tweet 
  {% endif %}
  <form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %} {{form.as_p}}
    <button class="btn btn-warning" type="submit">Submit</button>
    <a href="{% url 'tweet_list' %}">Back to tweet list</a>
  </form>
</h2>
{% endblock %}
